.profile__module{
    position: fixed;
    height: 100dvh;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #34343473;
    color: var(--text-color);


    form{
        background: #ffffff;
        padding: 32px;
        display: flex;
        flex-direction: column;
        border-radius: 28px;
        width: 544px;

        h3{
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            text-align: center;
            margin-bottom: 24px;
        }
    

        label{
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            text-align: left;
            color: var(--text-faded);
            margin-bottom: 4px;
        }

        input{
            padding: 24px;
            font-size: 16px;
            font-weight: 400;
            line-height: 17px;
            text-align: left;
            background: var(--input-background);
            border-radius: 20px;
            margin-bottom: 20px;
        }
    }
}