.home{
    color: var(--text-color);
    padding: 32px 0 0 128px;

    .home__title{
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 64px;
    }

    .home__category{
        h3{
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            margin-bottom: 24px;
        }

        .home__category-list{
            display: flex;
            gap: 64px;
            margin-bottom: 22px;

            .focused{
                color: var(--text-color);
                border-bottom: 2px solid black;
            }
            
            button{
                font-size: 16px;
                font-weight: 500;
                line-height: 17px;
                color: var(--text-faded);
            }
        }

        .recipes{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }
    }

}